body{
  font-family: 'Roboto', sans-serif;
}

.wrapper{
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}

.grey_frame{
  text-align: center;
  border: 2px solid grey;
  width: 18%;
  margin: 2px;
}

image{
  width: 70%;
  height: 70%;
}
.available{
  color: red;
}
